/* Structure */
.example-container {
  display: flex;
  flex-direction: column;
  max-height: 500px;
  min-width: 300px;
  width:100%;
  margin: auto;
}

@media screen and (min-width: 1170px){
  .example-container {
    width:80%;
    margin: auto;
  }
}

@media screen and (min-width: 970px) and (max-width: 1169px){
  .example-container {
    width:90%;
    margin: auto;
  }
}

.example-header {
  min-height: 64px;
  display: flex;
  align-items: baseline;
  padding: 8px 24px 0;
  font-size: 20px;
  justify-content: space-between;
}

.button-container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  width:100%;
}

.mat-input-container {
  font-size: 14px;
  flex-grow: 1;
  margin-left: 32px;
}

.mat-table {
  overflow: auto;
}