/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html {
  font-family: "Open Sans",sans-serif;
  line-height: 1.5;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; 
}


body {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 0.875rem;
  font-weight: normal;
  line-height: 1.5;
  color: #263238;
  background-color: #e4e5e6; 
  margin: 0;
}

.example-card {
  width: 85%;
  margin: auto;
}

@media screen and (min-width: 750px) {
  .example-card {
    width: 70%;
    margin: auto;
  }
}